@media {
      
    .second {
        width:100%;
        height:auto;
    }

    byline {
    font-family:'Lora', serif;
    color:#5E7CE2;
    font-weight:bolder;
    font-size:18px;
    }
    
    .newspaper {
    font-family:'Lora', serif;
    color:#5E7CE2;
    font-weight:bolder;
    font-size:18px;
    }
    
    .date {
    font-family:'Lora', serif;
    color:#5E7CE2;
    font-weight:bolder;
    font-size:18px;
    }
    
    h1 {
    font-family:'Lora', serif;
    font-size: 50px;
    padding:20px 10px 10px 10px;
    background-color:#CFDEE7;
    }
    
    h2 {
    font-family:'Lora', serif;
    font-size: 20px;
    font-weight:bolder;
    }
    .emphasized {
    font-style:italic;
    }
    
    h3 {
    font-family: 'Lora', serif;
    font-size: 30px;
    font-weight:400;
    font-weight:bolder
    color:#9DBEBB;
    }
    
    .credit {
    font-size:10px;
    font-family:'Lora', serif;
    }
    
    .students {
    width:70%;
    height:auto;
    
    }
    .caption {
    font-size:10px;
    }

    .cante {
    width:70%;
    }
    
    
    .caption1 {
    font-size:10px;
    }

    .caption2 {
    font-size:10px;
    }
    .nina {
    width:60%
    }
    #content {
    width:70%;
    font-family: 'Lora', serif;
    }
    
    .quotemark {
        font-size:50px;
        float:left;
        line-height:10px;
        padding:20px 0px 0px 0px;
        font-family:georgia;
        color:#5E7CE2;
        border-top: px solid #5E7CE2;
    }
    
    .quote {
    color:#5E7CE2;
    font-size: 30px;
    border: 3px solid #5E7CE2;
    }
    
    
    .attribution {
    color:#5E7CE2;
    
    }
    
    .quotemark1 {
        font-size:50px;
        float:left;
        line-height:10px;
        padding:20px 0px 0px 0px;
        font-family:georgia;
        color:#5E7CE2;
        border-top: px solid #5E7CE2;
    }
    
    .quote1 {
    color:#5E7CE2;
    font-size:30px;
    border: 3px solid #5E7CE2;
    }
    
    .attribution1 {
    color:#5E7CE2;
    }
    
    .tayah {
    width:70%;
    }
    
    .caption3 {
    font-size:10px;
    }
    
    .quotemark2 {
    font-size:50px;
    float:left;
    line-height:10px;
    padding: 20px 0px 0px 0px;
    font-family:georgia;
    color:#5E7CE2;
    border-top: px solid #5E7CE2;
    }
    
    .quote2 {
    color: #5E7CE2;
    font-size:30px;
    border: 3px solid #5E7CE2;
    }
    
    .attribution2 {
    color:#5E7CE2;
    }
    
    .tayahfamily {
    width:80%
    }
    
    .caption4 {
    font-size:10px;
    }
    
    
    }
}

@media (min-width:576px){
       
}

@media (min-width:992px){
        
}

@media (min-width:1200px){
       
}