@media {
      
    .second {
        width:80%;
        height:auto;
    }
    h1 {
    font-family:'Lora', serif;
    font-size: 50px;
    }
    
    h2 {
    font-family:'Lora', serif;
    font-size: 20px;
    font-weight:bolder;
    }
    .emphasized {
    font-style:italic;
    }
    
    h3 {
    font-family: 'Lora', serif;
    font-size: 20px;
    }
    
    .credit {
    font-size:10px;
    }
{
    }
}

@media (min-width:576px){
       
}

@media (min-width:992px){
        
}

@media (min-width:1200px){
       
}