.container-fluid{
    background-color:#CAF0F8;
    text-align: center;
    font-size: 70px;
    font-family: Plantagenet Cherokee
}
.container{
    font-size: 60 px;
    text-align: center;
    font-family: Plantagenet Cherokee;
    
    
}
    
}
#headshot {
    width:300px;
    padding:0px;
    margin:20px 0px 20px 40px;
    border-radius: 500px;
    
}

#button {
    background-color:#6096BA;
    border:0px;
    border-radius: 10px;
    padding:10px 30px 10px 30px;
    text-transform:uppercase;
    margin:10px;
}

#button a {
    color:white;
    text-decoration: none;
    align-content: center
}
button 
{
    display:block;
    margin:auto;
}