@media {
.container-fluid{
    background-color:#CAF0F8;
    text-align: center;
    font-size: 60px;
    font-family: Plantagenet Cherokee
}
.container{
    font-size: 30px;
    text-align: center;
    font-family: Plantagenet Cherokee;
    
    
}
    
#headshot {
    width:300px;
    padding:0px;
    margin:10px 0px 0px 10px;
    bordeR: 3px solid black;
    border-radius: 500px;
    
}

#button {
    background-color:#6096BA;
    border:0px;
    border-radius: 10px;
    padding:10px 30px 10px 30px;
    text-transform:uppercase;
    margin:10px;
    align-content: right;
}

#button a {
    color:white;
    text-decoration: none;
    align-content: right;
}
button 
{
    display:block;
    margin:auto;
    margin: 20px 0px 20px 40px;
    

}

@media (min-width:576px){
  #headshot {
    margin:20px 0px 20px 40px;
}  
}
    @media (min-width:992px) {
        #headshot {
            margin: 10px 0px 0px 10px;
        }
    }