@media {
.container-fluid {
    background-color:#CAF0F8;
    text-align: center;
    font-size: 50px;
    font-family: 'Playfair Display', serif;
}
.container{
    font-size: 30px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    
    
}
    
  #headshot {
    width:300px;
    padding:px;
    margin:20px 0px 20px 40px;
    border-radius: 500px;
    display:block;
    margin:
}
    
    


#button {
   background-color:#6096BA;
    border:0px;
    border-radius: 10px;
    padding:10px 30px 10px 30px;
    text-transform:uppercase;
    margin-left:455px;
    
        
}
  
}

#button a {
    color:white;
    text-decoration: none;
}
button 
{
    display:block;
    margin:auto;
    margin: 20px 0px 20px 40px;
    

}
    h2 {
    font-family:'Playfair Display', serif;
    margin-top:25px;
    }
    .nav {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    margin-left:310px;
    margin-right:150px;
    
}
      
    
 #footer {
    font-size:20px;
    }

@media {
    /*Phone styles here*/
     background-color:black;
        font-size:30px
}


@media (min-width:576px){
  #headshot {
    margin:20px 0px 20px 40px;
}  
    h1{
    font-size:50px;
    }

   
        
    }
    @media (min-width:992px) {
        #headshot {
            margin: 10px 0px 0px 10px;
        }
        h1{
        font-size:70px
        }
    }
