@media {
    

#headshot 
{   
 width:300px;
float:left;
margin-right:20px;
}

body {
font-family:sans-serif;
}

#contact {
    color:black;
    font-weight:bold;
    font-size:20px;
}
    @media {
        (min-width:375px)
        width:100%;
#info {
    width:700px;
    margin:auto;
}

 #footer {
    background-color:darkgray;
    position:relative;
    bottom:-500px;
    margin:auto;
    width:1220px;
    padding:0px 10px 0px 10px;
    }
    }
}